<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="QuestDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>		
		<add key="DatabaseConfigFile" value="config/DatabaseMgrConfig.xml"/>
		<add key="NHibernateConfigFile" value="config/NHibernateConfig.xml"/>
		<add key="TypeConfigDirectory" value="config/schema/"/>
		<add key="DOLConfigDirectory" value="config/dol/"/>
		<add key="XLSFilePath" value="config/questScript.xsl"/>

		<add key="DOLServerConfigFile" value="config/dol/serverconfig.xml"/>
	</appSettings>    
 <userSettings>
  <QuestDesigner.Properties.Settings>
   <setting name="XMLFile" serializeAs="String">
    <value />
   </setting>
   <setting name="ItemSplitterDistance" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="NPCSplitterDistance" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="MainformLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainformSize" serializeAs="String">
    <value>580, 324</value>
   </setting>
   <setting name="ShowTaskPane" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LocationSplitterDistance" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="QuestPartSplitterDistance" serializeAs="String">
    <value>133</value>
   </setting>
   <setting name="AreaSplitterDistance" serializeAs="String">
    <value>350</value>
   </setting>
  </QuestDesigner.Properties.Settings>
 </userSettings>
</configuration>