<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DOL.Tools.QuestDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />     
  </sectionGroup>
 </configSections>
 <appSettings>				
		<add key="TypeConfigDirectory" value="config/schema/"/>
		<add key="DOLConfigDirectory" value="config/dol/"/>
		<add key="XLSFilePath" value="config/questScript.xsl"/>
		<add key="DOLServerConfigFile" value="config/dol/serverconfig.xml"/>
		<add key="DataDownloadUrl" value="http://www.mediamax.com/gandulfk/Hosted/data.zip"/>
		<add key="InfoUrl" value="http://wiki.dolserver.net/index.php?title=Quest_Designer"/>
		<add key="UpdateUrl" value="http://wiki.dolserver.net/index.php?title=Quest_Designer"/>
	</appSettings>    
 <userSettings>
  <DOL.Tools.QuestDesigner.Properties.Settings>
   <setting name="XMLFile" serializeAs="String">
    <value />
   </setting>
   <setting name="ItemSplitterDistance" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="NPCSplitterDistance" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="MainformLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainformSize" serializeAs="String">
    <value>580, 324</value>
   </setting>
   <setting name="ShowTaskPane" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LocationSplitterDistance" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="QuestPartSplitterDistance" serializeAs="String">
    <value>133</value>
   </setting>
   <setting name="AreaSplitterDistance" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="ZoomValuePow" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="ViewFactor" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ZoomValueMul" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DownloadData" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CacheTextures" serializeAs="String">
    <value>True</value>
   </setting>
  </DOL.Tools.QuestDesigner.Properties.Settings>
 </userSettings>
	
<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<probing privatePath="lib;lib\dacris;lib\dol" />			
	</assemblyBinding>
</runtime>
	
</configuration>